<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Member Form</title>
</head>
<body>
<div class="container">
  <form action="/members/new" method="post">
    <div class="form-group">
      <label for="username">ID</label>
      <input type="text" id = "username" name="username" placeholder="ID를 입력하시오">
      <label for="password">PW</label>
      <input type="text" id = "password" name="password" placeholder="PW를 입력하시오">
      <label for="contents">Contents</label>
      <input type="text" id = "contents" name="contents" placeholder="내용을 입력하시오">
    </div>
    <button type="submit">등록</button>
  </form>
</div>
</body>
</html>